@import 'base/reset';
@import 'base/vars';

html,
body {
    overflow-x: hidden;
    width: 100vw;
    max-width: 100vw;
}

body {
    background: #111;
    color: white;
    font-family: 'Montserrat';
	font-weight: 500;
}

.container {
    box-sizing: border-box;
    max-width: $containerWidth;
    padding: 0 $containerPadding;
    margin: 0 auto;
}

.gradient {
    position: absolute;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(125px);
    z-index: -1;
}

.page__subtitle {
    color: #FFF;
    font-size: 60px;
    font-weight: 600;
    line-height: 150%; /* 90px */
    text-transform: uppercase;
}

.page__subdescr {
    color: #FFF;
    font-size: 25px;
    font-weight: 400;
    line-height: 150%; /* 37.5px */
}

@media screen and (max-width: 625px) {
    .page__subtitle {
        font-size: 40px;
    }

    .page__subdescr {
        font-size: 20px;
    }
}

@media screen and (max-width: 430px) {
    .page__subtitle {
        font-size: 30px;
    }

    .page__subdescr {
        font-size: 15px;
    }
}

@import 'components/btn-install';
@import 'components/btn-ticket';;
@import 'components/header';
@import 'components/youllget-section';
@import 'components/results-section';
@import 'components/priceapp-section';
@import 'components/products-section';
@import 'components/program-section';
@import 'components/bigtitle-section';
@import 'components/records-section';
@import 'components/trening-section';
@import 'components/footer';