.btn-install {
    display: flex;
    border-radius: 20px;
    background: #FFF;
    padding: 9px;
    gap: 9px;
    align-items: center;
    width: 130px;
    box-sizing: border-box;
}

.btn-install__icon {
    display: flex;

}

.btn-install__label {
    color: #000;
    font-family: 'Fuzzybubbles';
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
}

.btn-install__label-install {
    color: #19B8FA;
    font-size: 10px;
    font-weight: 400;
}