.footer {
    padding-bottom: 152px;
    overflow: hidden;
}

.footer__container {
    display: flex;
    flex-direction: column;
    padding-right: $containerPadding+16;
}

.footer__title {
    margin-bottom: 18px;
}

.footer__main-wrapper {
    display: flex;
    align-items: center;
    gap: 40px 225px;
}

.footer__form-wrapper {
    display: flex;
    align-items: center;
    gap: 35px 97px;
}

.footer__descr {
    max-width: 515px;
}

.footer__text-anim {
    position: relative;
    left: -40px;
    opacity: 0;

    &.--show {
        animation: footerTextShow 1s ease-in-out both;
    }
}

@keyframes footerTextShow {
    from {
        left: -40px;
        opacity: 0;
    }

    to {
        left: 0;
        opacity: 100;
    }
}

$formWidth: 396px;

.footer__form-list {
    max-width: 396px;
    width: 396px;
    display: grid;
    column-gap: 20px;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    align-items: center;
    overflow: hidden;
}

.footer__form-item {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;

    left: 0;
    transition: 0.8s ease-in-out left;
}

.footer__form-descr {
    color: #FFF;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 37.5px */
}

.footer__form-descr-bold {
    font-weight: 700;
}

.footer__form {
    display: flex;
    flex-direction: column;
    gap: 71px;
    margin-top: 46px;
}

.footer__forn-input {
    color: #FFF;
    font-size: 25px;
    font-weight: 500;
    line-height: 100%; /* 25px */

    background: none;
    border: none;
    outline: none;

    display: flex;
    padding-bottom: 15px;
    border-bottom: 1px solid #FFF;

    &::placeholder {
        color: #8B8B8B;
    }
}

.footer__btn-ticket-wrapper {
    position: relative;
}

.footer__btn-ticket-arrow {
    position: absolute;
    width: 406.68px;
    height: 195.57px;
    left: -406.18px;
    bottom: -157.17px;
    fill: white;
    z-index: -1;
}

.footer__arrow-anim {
    bottom: -354px;

    &.--show {
        animation: footerArrowShow 1s ease-in-out both;
    }
}

@keyframes footerArrowShow {
    from {
        bottom: -354px;
    }

    to {
        bottom: -157.17px;
    }
}

.footer__btn-ticket {
    .btn-ticket__bg {
        background: #AC3CDC;

        &::after {
            background: linear-gradient(73deg, #C6A5D4 0%, #AC3CDC 83.65%);
        }
    }

    .btn-ticket__circled-text {
        fill: #AC3CDC;
    }
}

.footer__btn-ticket .btn-ticket__text-border {
    fill: linear-gradient(73deg, #C6A5D4 0%, #AC3CDC 83.65%);
}

@media screen and (max-width: 1380px) {
    .footer__main-wrapper {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer__btn-ticket-wrapper {
        align-self: flex-end;
    }
}

@media screen and (max-width: 1000px) {
    .footer__form-wrapper {
        flex-direction: column;
    }
}

@media screen and (max-width: 440px) {
    .footer__descr {
        word-wrap: break-word;
    }

    .footer__form-list {
        width: 300px;
    }

    .footer__form-descr {
        font-size: 20px;
    }
}