.header {
    position: relative;
    padding-top: 67px;
    margin-bottom: 267px;
    background: url(../img/header-rect.svg);
    background-position: center bottom 0;
    background-repeat: no-repeat;

    &::before {
        position: absolute;
        content: url('../img/header-gradient.svg');
        z-index: 1;
        top: -420px;
        left: -354px;
    }

    & > * {
        z-index: 3;
    }
}

.header__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__title {
    text-align: center;
    font-size: 80px;
    font-weight: 700;
    line-height: 123.5%; /* 98.8px */
    text-transform: uppercase;

    background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.75) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    max-width: 1321px;
    margin-bottom: 60px;
}

.header__descr {
    color: #FFF;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    line-height: 150%; /* 45px */

    max-width: 432px;
    margin-bottom: 30px;
}

.header__descr-regular {
    font-weight: 400;
}

.header__installs-btns-wrapper {
    display: flex;
    gap: 8px;
    padding-bottom: 44px;
}

.header__main-btn-wrapper {
    position: relative;
    display: flex;
    align-items: flex-end;
    align-self: stretch;
    justify-content: center;
    padding-bottom: 34px;
}

.header__main-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-self: center;
    justify-content: center;
    width: 242px;
    height: 242px;

    color: #FFF;
    text-align: center;
    font-size: 16.3px;
    font-weight: 600;
    line-height: 150%; /* 24.449px */

    &::before {
        content: '';
        position: absolute;
        width: 153px;
        height: 160px;
        background: linear-gradient(90deg, #9AB4F8 0%, #0145D4 83.65%);
        border-radius: 100%;
        transform: rotate(65.161deg);
    }
}


.header__main-btn-text-border {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 16.3px;
    font-weight: 800;
    line-height: 100%; /* 16.3px */
    fill: white;
}

.header__main-btn-label {
    z-index: 2;
    width: 102px;
    margin-top: -4px;

    span {
        font-weight: 800;
    }
}


.header__images-wrapper {
    position: relative;
    height: 0;
}

.header__image {
    position: absolute;
    z-index: 2;
    bottom: 0;
}

.header__image-left {
    margin-bottom: -28px;
    right: calc(50% + 376px);
}

.header__image-right {
    left: calc(50% + 351px);
    filter: drop-shadow(0px 4px 220px #EB5757);
    margin-bottom: -94px;
}

@media screen and (max-width: 1645px) {
    .header__image {
        height: auto;
    }

    .header__image-left {
        width: 320px;
    }

    .header__image-right {
        width: 328px;
    }
}

@media screen and (max-width: 1420px) {
    .header {
        margin-bottom: 700px;
    }

    .header__title {
        font-size: 60px;
    }

    .header__image-left {
        top: 0;
        margin-top: 40px;
        left: 120px;
        right: auto;
    }

    .header__image-right {
        top: 0;
        left: auto;
        right: 128px;
        margin-top: 7px;
    }
}

@media screen and (max-width: 950px) {
    .header__title {
        font-size: 40px;
    }

    .header__image-left {
        top: 0;
        margin-top: 40px;
        left: 20px;
        right: auto;
    }

    .header__image-right {
        top: 0;
        left: auto;
        right: 28px;
        margin-top: 7px;
    }
}

@media screen and (max-width: 710px) {
    .header {
        margin-bottom: 500px;
    }

    .header__title {
        font-size: 30px;
    }

    .header__descr {
        font-size: 20px;
    }

    .header__image-left {
        margin-top: 80px;
        width: 200px;
    }

    .header__image-right {
        margin-top: 27px;
        width: 208px;
    }
}

@media screen and (max-width: 475px) {
    .header {
        margin-bottom: 400px;
    }
    .header__image-left {
        margin-top: 80px;
        width: 130px;
    }

    .header__image-right {
        margin-top: 27px;
        width: 138px;
    }
}