.results {
    margin-bottom: 150px;
}

.results__container {
    display: flex;
    flex-direction: column;
    padding-right: $containerPadding+16;
}

.results__title {
    color: #FFF;
    margin-bottom: 35px;
}

.results__descr-wrapper {
    display: grid;
    grid-template-columns: minmax(500px, 1fr) minmax(400px, 709px);
    gap: 50px 109px;
    margin-bottom: 70px;
}

.results__descr {
    max-width: 809px;
    color: #FFF;
    font-size: 25px;
    font-weight: 400;
    line-height: 150%; /* 37.5px */
}

.results__descr.page__subdescr.text-show-anim {
    transform: translateY(0);

    &.--show {
        transform: translateX(10px);
    }
}

.results__list {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;

    ._gradient {
        background-image: url('../img/bg-gradients/results.svg');
        width: 806.01px;
        height: 651.04px;
        left: -228px;
        bottom: -360.04px;

        animation: resultsGradient 7s ease-in-out infinite;
    }
}

@keyframes resultsGradient {
    from {
        transform: translateX(0);
    }

    50% {
        transform: translateX(300px);
    }

    to {
        transform: translateX(0);
    }
}

.results__item-wrapper {
    display: flex;
}

.results__item-icon {
    animation: resultsIconAnim 2s ease-in-out infinite;
}

.results__item-icon-wrapper {
    position: relative;
}

.results__item-icon-large {
    backdrop-filter: blur(3.205764055252075px);
}

.results__item-icon-small {
    position: absolute;
    top: 46px;
    left: 47px;
    filter: drop-shadow(0.588520884513855px 1.17704176902771px 3.531125068664551px 0px rgba(28, 95, 55, 0.60));
}

.results__item {
    border-radius: 30px;
    border: 1px solid #FFF;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    &:nth-of-type(1) {
        .results__item-icon-small {

        }
        gap: 46px;
    }
    &:nth-of-type(2) {
        .results__item-icon-small {
            
            top: 51px;
            left: 44px;
        }
        gap: 0; 
    }

    &:nth-of-type(3) {
        .results__item-icon-small {
            
            top: 62px;
            left: 43px;
        }
        gap: 59px;
    }
    &:nth-of-type(4) {
        .results__item-icon-small {
            
            top: 50px;
            left: 48px;
        }
        gap: 10px;
    }
    &:nth-of-type(5) {
        .results__item-icon-small {
            
            top: 52px;
            left: 39px;
        }
        gap: 27px;
    }
    &:nth-of-type(6) {
        .results__item-icon-small {
            
            top: 42px;
            left: 29px;
        }
        gap: 45px;
    }
}

.results__item-label {
    color: #FFF;
    font-size: 30px;
    font-weight: 400;
    line-height: 150%; /* 45px */
}

@keyframes resultsIconAnim {
    from {
        transform: rotate(0deg);
        filter: blur(0px);
    }

    50% {
        filter: blur(5px);
    }

    100% {
        transform: rotate(360deg);
        filter: blur(0px);
    }
}

@media screen and (max-width: 1080px) {
    .results__descr-wrapper {
        display: flex;
        flex-direction: column;
    }

    .results__list {
        display: flex;
        flex-direction: column;
    }

    .results__item {
        width: 75%;

        &:nth-of-type(2n - 1) {
            align-self: flex-end;
        }
    }
}

@media screen and (max-width: 625px) {

    .results__item-label {
        font-size: 25px;
    }

    .results__item {
        width: auto;
    }
}

@media screen and (max-width: 430px) {
    .results__item-label {
        font-size: 20   px;
    }
}