.trening {
    padding-bottom: 150px;
}

.trening__container {
    display: flex;
    flex-direction: column;
}

.trening__title {
    max-width: 1193px;
    margin-bottom: 70px;
}

.trening__images-wrapper {
    position: relative;
    display: flex;
    gap: 372px;
    justify-content: center;
    margin-left: -20px;

    &::before {
        content: url('../img/trening/bg-gradient.svg');
        position: absolute;
        z-index: -3;
        top: -59px;
        right: -296px;

        animation: treningGradientMove 10s linear infinite;
    }
}

.trening__image {
    position: relative;
    box-sizing: border-box;
    background: url('../img/trening/phone.webp');
    background-size: 100% 100%;
    width: 441px;
    height: 1022.5px;
    display: flex;

    img {
        position: relative;
        top: calc(15.5px / 1022.5px * 100%);
        left: calc(44.5px / 441px * 100%);
        width: calc(378.75px / 441px * 100%);
        height: calc(968.5px / 1022.5px * 100%);
    }
}

.trening__image-left {

    &::before {
        content: url('../img/trening/phone1-bg-gradient.svg');
        position: absolute;
        z-index: -2;
        bottom: -255px;
        right: -425.75px;

        animation: treningGradientMove 10s linear infinite;
    }
}

.trening__image-right {
    margin-top: calc(154px / 1022px * 100%);

    &::before {
        content: url('../img/trening/phone2-bg-gradient.svg');
        position: absolute;
        z-index: -1;
        bottom: -223.66px;
        left: -455px;

        animation: treningGradientMove 10s linear infinite;
    }
}

@keyframes treningGradientMove {
    from {
        transform: translateX(0) scale(1);
    }

    50% {
        transform: translateX(200px) scale(1.3);
    }

    to {
        transform: translateX(0) scale(1);
    }
}

.trening__descr-wrapper {
    position: absolute;
    background: #202020;
    top: calc(594px / 1178px * 100%);
    width: 128vw;
    transform: rotate(15.9deg) skewX(15.9deg);
    display: flex;
    justify-content: center;
}

.trening__text-anim {
    left: 128vw;

    &.--show {
        animation: treningTextShow 1s ease-in-out both;
    }
}

@keyframes treningTextShow {
    from {
        left: 128vw;
    }

    to {
        left: -14vw;
    }
}

.trening__descr {
    box-sizing: border-box;
    max-width: 100vw;
    text-align: center;
    color: #FFF;
    font-size: 37.979px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    width: 100vw;

    span {
        max-width: 1423px;
    }
}

@media screen and (max-width: 1300px) {
    .trening__images-wrapper {
        gap: 172px;
    }
}

@media screen and (max-width: 1165px) {
    .trening__images-wrapper {
        gap: 52px;
    }
}

@media screen and (max-width: 970px) {
    .trening__image {
        width: 300px;
        height: calc(1022.5px * 300px / 441px);
    }
}

@media screen and (max-width: 815px) {
    .trening__descr {
        font-size: 25px;
    }
}

@media screen and (max-width: 705px) {
    .trening__image {
        width: 200px;
        height: calc(1022.5px * 200px / 441px);
    }

    .trening__descr {
        font-size: 20px;
    }
}

@media screen and (max-width: 505px) {
    .trening__title {
        margin-bottom: 20px;
    }

    .trening__images-wrapper {
        gap: 27px;
    }

    .trening__image {
        width: 150px;
        height: calc(1022.5px * 150px / 441px);
    }

    .trening__descr {
        font-size: 15px;
    }
}