.youllget {
    position: relative;
    margin-bottom: 150px;
    z-index: 2;
}

.youllget__container {
    display: flex;
    position: relative;
}

.youllget__list {
    margin-left: 133px;
    display: flex;
    flex-direction: column;
    gap: 70px;
    z-index: 2;
}

.youllget__item {
    display: flex;
    gap: 20px 40px;
    padding: 6px 0;
    align-items: center;
}

.youllget__item-num {
    font-family: Montserrat;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 150.5%; /* 150.5px */

    color: white;
    background-clip: text;
    color: transparent;
    -webkit-text-stroke: 1px white;

    transition: 500ms ease-in-out color;
}

.youllget__item:nth-of-type(2) {
    &:hover .youllget__item-num {
        color: white;
    }
}

.youllget__item:nth-of-type(4) {

    &:hover .youllget__item-num {
        -webkit-text-stroke-width: 3px;
        color: white;
    }
}

.youllget__item:nth-of-type(6) {

    &:hover .youllget__item-num {
        -webkit-text-stroke-width: 10px;
        color: white;
    }
}

.youllget__item-text {
    color: #FFF;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 152.5%; /* 45.75px */
    max-width: 674px;
}

.youllget__img-wrapper {
    position: relative;
    margin-left: -67.6px;
    margin-top: 563.21px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: max-content;

    ._gradient {
        background-image: url('../img/bg-gradients/youllget-image.svg');
        width: 770px;
        height: 700px;
        bottom: -373.71px;
        left: -309.4px;
        animation: youllgetImageGradient 7s ease-in-out infinite;
    }

    &:hover  .youllget__img-play-btn {
        opacity: 100;
    }
}
@keyframes youllgetImageGradient {
    from {
        transform: translateX(0) scale(1);
    }

    50% {
        transform: translateX(400px) scale(0.7);
    }

    to {
        transform: translateX(0) scale(1);
    }
}

.youllget__img {
    display: flex;
    transform: rotate(-9.748deg);
    transform-origin: center;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
}

.youllget__img-play-btn {
    display: flex;
    opacity: 0.3;
    transition: 500ms ease-in-out opacity;
    position: absolute;
    fill: #D9D9D9;

    .svg-icon {
        width: 84px;
        height: 84px;
    }
}

@media screen and (max-width: 1535px) {
    .youllget__img-wrapper {
        // display: none;
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 70px;
        align-self: center;
    }

    .youllget__container {
        flex-direction: column-reverse;
    }

    .youllget__list {
        margin-left: 0;
    }
}

@media screen and (max-width: 665px) {
    .youllget__img-wrapper {
        img {
            width: 316px;
            height: calc(316px * 344px / 516px);
        }
    }

    .youllget__item {
        flex-direction: column;
    }

    .youllget__item-text.text-show-anim {
        transform: translateY(0);
        &.--show {
            transform: translateX(-10px);
        }
    }
}