.youllget {
    position: relative;
    margin-bottom: 150px;
    z-index: 2;
}

.youllget__container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.youllget__title {
    margin-bottom: 35px;
}

.youllget__list {
    position: relative;
    margin-left: 133px;
    display: flex;
    flex-direction: column;
    gap: 70px;

    ._gradient {
        position: absolute;
        background-image: url('../img/bg-gradients/youllget-image.svg');
        width: 770px;
        height: 700px;
        bottom: -31px;
        left: 516px;
        animation: youllgetImageGradient 7s ease-in-out infinite;
    }
}

.youllget__item {
    display: flex;
    gap: 20px 40px;
    padding: 6px 0;
    align-items: center;
}

.youllget__item-num {
    font-family: Montserrat;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 150.5%; /* 150.5px */

    color: white;
    background-clip: text;
    color: transparent;
    -webkit-text-stroke: 1px white;

    transition: 500ms ease-in-out color;
}

.youllget__item:nth-of-type(2) {
    &:hover .youllget__item-num {
        color: white;
    }
}

.youllget__item:nth-of-type(4) {

    &:hover .youllget__item-num {
        -webkit-text-stroke-width: 3px;
        color: white;
    }
}

.youllget__item:nth-of-type(6),
.youllget__item:nth-of-type(8) {

    &:hover .youllget__item-num {
        -webkit-text-stroke-width: 10px;
        color: white;
    }
}

.youllget__item-text {
    color: #FFF;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 152.5%; /* 45.75px */
    max-width: 674px;
}

@keyframes youllgetImageGradient {
    from {
        transform: translateX(0) scale(1);
    }

    50% {
        transform: translateX(400px) scale(0.7);
    }

    to {
        transform: translateX(0) scale(1);
    }
}

@media screen and (max-width: 1535px) {
    .youllget__list {
        margin-left: 0;
    }
}

@media screen and (max-width: 665px) {
    .youllget__item {
        flex-direction: column;
    }

    .youllget__item-text.text-show-anim {
        transform: translateY(0);
        &.--show {
            transform: translateX(-10px);
        }
    }
}