include _mixins.pug

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="Инновационные бизнес-инструменты для увеличения продажи")
        link(rel="stylesheet", href="assets/css/fontfacerules.css")
        link(rel="stylesheet", href="assets/css/main.min.css")
        title Бизнес-тренинг
    body 
        header.header
            ._gradient-left.gradient
            ._gradient-right.gradient
            .header__container.container
                .header__main-wrapper
                    h1.header__title-wrapper
                        p.header__title.text-show-anim
                            span
                               | Инновационные #[br]
                               | бизнес-инструменты #[br]
                               | для увеличения продажи

                    .header__descr-wrapper.slider
                        .header__descr-item.slider__item-main.slider__item(data-slide-to="0")
                            p.header__text-anim.header__descr.text-show-anim
                                | Создано профессиональным 
                                span.header__descr-regular психологом 
                                | и 
                                span.header__descr-regular основателем 
                                | Hubus & Co.

                            .header__installs-btns-wrapper
                                a.btn-install(href="#") 
                                    img.btn-install__icon(src="assets/img/icons/app-store.webp", srcset="assets/img/icons/app-store@2x.webp 2x", alt="", width="25", height="25")
                                    p.btn-install__label
                                        span.btn-install__label-install Установить #[br]
                                        span.btn-install__label-install_with Apple Store
                                a.btn-install(href="#") 
                                    img.btn-install__icon(src="assets/img/icons/google-play.svg", alt="", width="19.75", height="22")
                                    p.btn-install__label
                                        span.btn-install__label-install Установить #[br]
                                        span.btn-install__label-install_with Google Play
                        .header__descr-item.slider__item(data-slide-to="1")
                            p.header__text-anim.header__descr
                                | Создано совместно с командой психологов #1

            .header__main-btn-wrapper
                a.header__main-btn.btn-ticket(href="https://t.me/+befqIH_ZlYo3NTVi")
                    +svgIcon('circled-text', 'btn-ticket__circled-text')
                    .btn-ticket__bg
                    span.header__main-btn-label.btn-ticket__label Запуск 
                        span Бесплатно!

            .header__images-wrapper
                .header__image-wrapper-left.header__image-wrapper
                    ._gradient.gradient
                    picture
                        source(media="(max-width: 473px)", srcset="assets/img/header-image-left@138w.webp")
                        source(media="(max-width: 710px)", srcset="assets/img/header-image-left@200w.webp")
                        source(media="(max-width: 1645px)", srcset="assets/img/header-image-left@320w.webp")
                        source(media="(min-width: 1646px)", srcset="assets/img/header-image-left.webp")
                        img.header__image-left.header__image(src="assets/img/header-image-left.webp", alt="", width="420", height="602")
                .header__image-wrapper-right.header__image-wrapper
                    picture
                        source(media="(max-width: 473px)", srcset="assets/img/header-image-right@138w.webp")
                        source(media="(max-width: 710px)", srcset="assets/img/header-image-right@200w.webp")
                        source(media="(max-width: 1645px)", srcset="assets/img/header-image-right@328w.webp")
                        source(media="(min-width: 1646px)", srcset="assets/img/header-image-right.webp")
                        img.header__image-right.header__image(src="assets/img/header-image-right.webp", alt="", width="428", height="680")

        main.page
            section.page__youllget.youllget.page__section
                .youllget__container.container
                    h2.youllget__title.page__subtitle
                        | Программа тренинга
                    ul.youllget__list.anim-section
                        ._gradient.gradient
                        li.youllget__item
                            p.youllget__item-num 01/
                            p.youllget__item-text.text-show-anim
                                | Знакомство и ответы на вопросы
                        li.youllget__item
                            p.youllget__item-num 02/
                            p.youllget__item-text.text-show-anim
                                | Тренды 2023 года
                        li.youllget__item
                            p.youllget__item-num 03/
                            p.youllget__item-text.text-show-anim
                                | Инновационая техника продаж 
                        li.youllget__item
                            p.youllget__item-num 04/
                            p.youllget__item-text.text-show-anim
                                | Практические упражнения 
                        li.youllget__item
                            p.youllget__item-num 05/
                            p.youllget__item-text.text-show-anim
                                | Психология успеха в продажах
                        li.youllget__item
                            p.youllget__item-num 06/
                            p.youllget__item-text.text-show-anim
                                | Инновационая техника продаж 
                        li.youllget__item
                            p.youllget__item-num 07/
                            p.youllget__item-text.text-show-anim
                                | Как сделать каждого клиента постоянным 
                        li.youllget__item
                            p.youllget__item-num 08/
                            p.youllget__item-text.text-show-anim
                                | Подведение итогов и вопросы

            section.page__results.results.page__section
                .results__container.container
                    h2.results__title.page__subtitle
                        | Какие результаты вы получите с нашим тренингом и приложением?
                    .results__descr-wrapper.anim-section
                        p.results__descr.page__subdescr.text-show-anim
                            | Присоединяйтесь к нашему тренингу и получите эксклюзивное приложение, 
                            | которое станет вашим верным спутником на пути к величию. Готовьтесь к 
                            | невероятным продажам, лояльным клиентам и финансовой независимости.
                        p.results__descr.page__subdescr.text-show-anim
                            | Откройте двери к безграничному успеху в продажах! Не упустите свой 
                            | шанс обрести доминирование в мире продаж! 

                    ul.results__list.anim-section
                        ._gradient.gradient
                        .results__item-wrapper 
                            li.results__item
                                .results__item-icon-wrapper
                                    img.results__item-icon-large.results__item-icon(src="assets/img/icons/results/icon1-large.svg", alt="", width="73", height="71")
                                    img.results__item-icon-small.results__item-icon(src="assets/img/icons/results/icon1-small.svg", alt="", width="58", height="58")
                                p.results__item-label.text-show-anim._horizontal
                                    | Разработать стратегии продаж, которые гарантированно 
                                    | увеличат вашу прибыль.
                        .results__item-wrapper 
                            li.results__item
                                .results__item-icon-wrapper
                                    img.results__item-icon-large.results__item-icon(src="assets/img/icons/results/icon2-large.svg", alt="", width="75", height="71")
                                    img.results__item-icon-small.results__item-icon(src="assets/img/icons/results/icon2-small.svg", alt="", width="47", height="67")
                                p.results__item-label.text-show-anim._horizontal
                                    | Стать экспертом в убеждении и влиянии на ваших 
                                    | клиентов, создавая непреодолимые предложения. 
                        .results__item-wrapper 
                            li.results__item
                                .results__item-icon-wrapper
                                    img.results__item-icon-large.results__item-icon(src="assets/img/icons/results/icon3-large.svg", alt="", width="80", height="79")
                                    img.results__item-icon-small.results__item-icon(src="assets/img/icons/results/icon3-small.svg", alt="", width="69", height="70")
                                p.results__item-label.text-show-anim._horizontal
                                    | Повысить конверсию продаж и эффективность 
                                    | работы вашей команды. 
                        .results__item-wrapper 
                            li.results__item
                                .results__item-icon-wrapper
                                    img.results__item-icon-large.results__item-icon(src="assets/img/icons/results/icon4-large.svg", alt="", width="73", height="73")
                                    img.results__item-icon-small.results__item-icon(src="assets/img/icons/results/icon4-small.svg", alt="", width="66", height="66")
                                p.results__item-label.text-show-anim
                                    | Оптимизировать ваши продажи через автоматизацию 
                                    | и персонализацию, сэкономив время и ресурсы. 
                        .results__item-wrapper 
                            li.results__item
                                .results__item-icon-wrapper
                                    img.results__item-icon-large.results__item-icon(src="assets/img/icons/results/icon5-large.svg", alt="", width="66", height="63")
                                    img.results__item-icon-small.results__item-icon(src="assets/img/icons/results/icon5-small.svg", alt="", width="63", height="61")
                                p.results__item-label.text-show-anim
                                    | Захватить рынок и обойти конкурентов, став 
                                    | востребованным лидером в вашей отрасли.
                        .results__item-wrapper 
                            li.results__item
                                .results__item-icon-wrapper
                                    img.results__item-icon-large.results__item-icon(src="assets/img/icons/results/icon6-large.svg", alt="", width="71", height="71")
                                    img.results__item-icon-small.results__item-icon(src="assets/img/icons/results/icon6-small.svg", alt="", width="70", height="69")
                                p.results__item-label.text-show-anim
                                    | Получить непреодолимую уверенность и 
                                    | умение достигать поставленных целей.

            section.page__priceapp.priceapp.page__section
                .priceapp__container.container.anim-section
                    .priceapp__wrapper
                        h2.priceapp__title.page__subtitle
                            | Почувствуйте вкус победы прямо сейчас!
                        p.priceapp__descr.page__subdescr.text-show-anim._horizontal
                            | Сделайте решительный шаг 
                            | и приобретите наше #[a.priceapp__descr-link(href="#") готовое приложение по продажам]
                            | любого продукта уже сегодня! Наши эксперты и инновационные инструменты ждут 
                            | вас, чтобы вместе добиться невероятных успехов. Не упустите возможность 
                            | стать неотразимым магнатом продаж!

            section.page__products.products.page__section
                .products__container.container.anim-section
                    p.products__descr-top.products__descr.page__subdescr.text-show-anim._horizontal
                        | Если Вы амбициозный предприниматель, торговый гений или продажный 
                        | магнат, наш тренинг создан специально для Вас! 
                    ul.products__list
                        li.products__item-left.products__item
                            p.products__item-nick @wellsofi
                            .products__item-image-wrapper
                                .products__item-image-border-wrapper
                                    .products__item-image-border
                                    .products__item-image-border-cliped
                                .products__item-image-background
                                    img.products__item-image(src="assets/img/sticker-wooman.webp", srcset="assets/img/sticker-wooman@2x.webp 2x", alt="", width="184", height="192")
                        li.products__item-right.products__item
                            p.products__item-nick @maxwiwi
                            .products__item-image-wrapper
                                .products__item-image-border-wrapper
                                    .products__item-image-border
                                    .products__item-image-border-cliped
                                .products__item-image-background
                                    img.products__item-image(src="assets/img/sticker-man.webp", srcset="assets/img/sticker-man@2x.webp 2x", alt="", width="184", height="192")
                    p.products__descr-bottom.products__descr.page__subdescr.text-show-anim._horizontal-reverse
                        | Без разницы, какой продукт Вы продаете — от шоколадных конфет до роскошных 
                        | автомобилей и риелторских услуг — наше готовое предложение по продажам поможет 
                        | Вам увеличить доход и стать непобедимым в Вашей нише.

            section.page__program.program.page__section
                .program__container.container.anim-section
                    h2.program__title.page__subtitle
                        | Что включает наша программа тренинга и приложение? 
                    .program__images-wrapper
                        .program__descr-wrapper
                            p.program__descr.page__subdescr.text-show-anim._horizontal
                                | Мы сосредоточены на развитии высокоэффективных навыков продаж, умениях 
                                | управлять клиентскими отношениями, благодаря мощным функциям аналитики, 
                                | персонализации и автоматизации, вы сможете оптимизировать процесс 
                                | продаж и увеличить конверсию, максимально оптимизируя свои усилия.
                            p.program__subtitle.text-show-anim._horizontal-reverse
                                | Мы готовы открыть вам двери к безграничному успеху.

            section.page__bigtitle.bigtitle.page__section.anim-section
                .bigtitle__container.container
                    h2.bigtitle__title.page__subtitle.text-show-anim
                        | Вы станете 
                        img(src="assets/img/icons/bigtitle/span1.webp", alt="", width="80", height="60") 
                        | главным игроком 
                        | в своей отрасли, 
                        img(src="assets/img/icons/bigtitle/span2.webp", alt="", width="90", height="60") 
                        | преумножите прибыль и выведете свой бизнес 
                        img(src="assets/img/icons/bigtitle/span3.webp", alt="", width="79", height="60")
                        | на новый уровень.

            section.page__records.records.page__section
                .records__container.container.anim-section
                    h2.records__title.page__subtitle
                        | Время для новых рекордов в продажах!
                    .records-descr-wrapper
                        .records__images
                            picture
                                source(media="(max-width: 470px)", srcset="assets/img/records-elipse@170h.webp")
                                source(media="(max-width: 625px)", srcset="assets/img/records-elipse@250h.webp")
                                source(media="(max-width: 720px)", srcset="assets/img/records-elipse@300h.webp")
                                source(media="(max-width: 1575px)", srcset="assets/img/records-elipse@400h.webp")
                                source(media="(min-width: 1576px)", srcset="assets/img/records-elipse.webp")
                                img(src="assets/img/records-elipse.webp", alt="", width="545", height="546")
                            img(src="assets/img/records-semielipse.svg", alt="", width="273", height="546")
                        .records__descrs
                            p.records__descr.page__subdescr.text-show-anim._horizontal-reverse
                                | Не упустите возможность превратить свой бизнес в процветающую империю! 
                            .records__play-btn-wrapper
                                button.records__play-btn
                                p.records__play-btn-label.page__subdescr Смотреть 
                                    span видеопрезентацию
                            p.records__descr.page__subdescr.text-show-anim._horizontal-reverse
                                | Закажите наше готовое приложение по продажам уже сегодня и начните свой 
                                | путь к беспрецедентному успеху. Наши тренинги стоят 
                                | каждого вложенного в них доллара!

            section.page__trening.trening.page__section
                .trening__container.container
                    h2.trening__title.page__subtitle
                        | Кому подходит наш тренинг? #[br]
                        | Если вы...
                    .trening__images-wrapper.anim-section
                        ._gradient.gradient
                        .trening__image-left.trening__image
                            ._gradient.gradient
                            include assets/img/trening/phone-display1.svg
                        .trening__image-right.trening__image
                            ._gradient.gradient
                            include assets/img/trening/phone-display2.svg

                        .trening__descr-wrapper.text-show-anim._horizontal
                            p.trening__descr.page__subdescr
                                span
                                    | Независимо от того, какой продукт или услугу вы предлагаете, наша программа 
                                    | тренинга и инновационное решение станут вашим секретным оружием в мире продаж.

        footer.footer
            .footer__container.container
                h2.footer__title.page__subtitle
                    | Оставляй заявку и приходи бесплатно
                .footer__main-wrapper
                    .footer__form-wrapper
                        p.footer__descr.page__subdescr.text-show-anim._horizontal
                            | Если что-то хотите уточнить, звоните прямо сейчас 
                            | и станьте королем продаж завтра! 

                        ul.footer__form-list
                            li.footer__form-item
                                p.footer__form-descr
                                    | Напиши нам 
                                    span.footer__form-descr-bold “Я в деле” И мы поможем стать номер 1
                    .footer__btn-ticket-wrapper
                        a.footer__btn-ticket.btn-ticket(href="https://t.me/+befqIH_ZlYo3NTVi") 
                            +svgIcon('circled-text', 'btn-ticket__circled-text')
                            .btn-ticket__bg
                            span.btn-ticket__label Запуск 
                                span Бесплатно!
                        +svgIcon('arrow', 'footer__btn-ticket-arrow footer__arrow-anim')

        script(src="libs/js/jquery-3.7.0.min.js" defer) 
        script(src="assets/js/main.min.js" async) 