include _mixins.pug

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="assets/css/fontfacerules.css")
        link(rel="stylesheet", href="assets/css/main.min.css")
        script(src="libs/js/jquery-3.7.0.min.js") 
        title Document
    body 
        header.header
            .header__container.container
                .header__main-wrapper
                    h1.header__title-wrapper
                        p.header__title.header__text-anim
                            span
                               | Инновационные #[br]
                               | бизнес-инструменты #[br]
                               | для увеличения продажи

                    .header__descr-wrapper
                        .header__descr-item
                            p.header__text-anim.header__descr
                                | Создано профессиональным 
                                span.header__descr-regular психологом 
                                | и 
                                span.header__descr-regular основателем 
                                | Hubus & Co.

                            .header__installs-btns-wrapper
                                a.btn-install(href="#") 
                                    img.btn-install__icon(src="assets/img/icons/app-store.webp", alt="", width="25", height="25")
                                    p.btn-install__label
                                        span.btn-install__label-install Установить #[br]
                                        span.btn-install__label-install_with Apple Store
                                a.btn-install(href="#") 
                                    img.btn-install__icon(src="assets/img/icons/google-play.svg", alt="", width="19.75", height="22")
                                    p.btn-install__label
                                        span.btn-install__label-install Установить #[br]
                                        span.btn-install__label-install_with Google Play
                        .header__descr-item
                            p.header__text-anim.header__descr
                                | Создано совместно с командой психологов #1

            .header__main-btn-wrapper
                a.header__main-btn.btn-ticket(href="#")
                    +svgIcon('circled-text', 'btn-ticket__circled-text')
                    .btn-ticket__bg
                    span.header__main-btn-label.btn-ticket__label Запуск 
                        span Бесплатно!

            .header__images-wrapper
                    img.header__image-left.header__image(src="assets/img/header-image-left.webp", alt="", width="420", height="602")
                    img.header__image-right.header__image(src="assets/img/header-image-right.webp", alt="", width="428", height="680")

        main.page
            section.page__youllget.youllget
                .youllget__container.container
                    ul.youllget__list
                        li.youllget__item
                            p.youllget__item-num 01/
                            p.youllget__item-text.youllget__text-anim
                                | Увеличить свои продажи в несколько раз и стать 
                                | настоящим гуру с прибылью от 150 000 ₽ в месяц.
                        li.youllget__item
                            p.youllget__item-num 02/
                            p.youllget__item-text.youllget__text-anim
                                | Привлечь новых клиентов и создать 
                                | базу лояльных покупателей.
                        li.youllget__item
                            p.youllget__item-num 03/
                            p.youllget__item-text.youllget__text-anim
                                | Овладеть мощными техниками переговоров 
                                | и заключения сделок.
                        li.youllget__item
                            p.youllget__item-num 04/
                            p.youllget__item-text.youllget__text-anim
                                | Создать неотразимые предложения, 
                                | которые невозможно отклонить.
                        li.youllget__item
                            p.youllget__item-num 05/
                            p.youllget__item-text.youllget__text-anim
                                | Повысить конверсию и доходность 
                                | каждой сделки.
                        li.youllget__item
                            p.youllget__item-num 06/
                            p.youllget__item-text.youllget__text-anim
                                | Максимизировать эффективность 
                                | работы и сэкономить время.
                    .youllget__img-wrapper
                        img.youllget__img(src="assets/img/youllget@517px.webp", alt="", width="516", height="344")
                        a.youllget__img-play-btn(href="#") 
                            +svgIcon('play')

            section.page__results.results
                .results__container.container
                    h2.results__title.page__subtitle
                        | Какие результаты вы получите с нашим тренингом и приложением?
                    .results__descr-wrapper
                        p.results__descr.page__subdescr.results__text-anim
                            | Присоединяйтесь к нашему тренингу и получите эксклюзивное приложение, 
                            | которое станет вашим верным спутником на пути к величию. Готовьтесь к 
                            | невероятным продажам, лояльным клиентам и финансовой независимости.
                        p.results__descr.page__subdescr.results__text-anim
                            | Откройте двери к безграничному успеху в продажах! Не упустите свой 
                            | шанс обрести доминирование в мире продаж! 

                    ul.results__list
                        .results__item-wrapper 
                            li.results__item
                                img.results__item-icon(src="assets/img/icons/results/result4.svg", alt="")
                                p.results__item-label
                                    | Разработать стратегии продаж, которые гарантированно 
                                    | увеличат вашу прибыль.
                        .results__item-wrapper 
                            li.results__item
                                img.results__item-icon(src="assets/img/icons/results/result1.svg", alt="")
                                p.results__item-label
                                    | Стать экспертом в убеждении и влиянии на ваших 
                                    | клиентов, создавая непреодолимые предложения. 
                        .results__item-wrapper 
                            li.results__item
                                img.results__item-icon(src="assets/img/icons/results/result5.svg", alt="")
                                p.results__item-label
                                    | Повысить конверсию продаж и эффективность 
                                    | работы вашей команды. 
                        .results__item-wrapper 
                            li.results__item
                                img.results__item-icon(src="assets/img/icons/results/result6.svg", alt="")
                                p.results__item-label
                                    | Оптимизировать ваши продажи через автоматизацию 
                                    | и персонализацию, сэкономив время и ресурсы. 
                        .results__item-wrapper 
                            li.results__item
                                img.results__item-icon(src="assets/img/icons/results/result3.svg", alt="")
                                p.results__item-label
                                    | Захватить рынок и обойти конкурентов, став 
                                    | востребованным лидером в вашей отрасли.
                        .results__item-wrapper 
                            li.results__item
                                img.results__item-icon(src="assets/img/icons/results/result2.svg", alt="")
                                p.results__item-label
                                    | Получить непреодолимую уверенность и 
                                    | умение достигать поставленных целей.

            section.page__priceapp.priceapp
                .priceapp__container.container
                    .priceapp__wrapper.priceapp__bg-anim
                        h2.priceapp__title.page__subtitle
                            | Почувствуйте вкус победы прямо сейчас!
                        p.priceapp__descr.page__subdescr.priceapp__text-anim
                            | Сделайте решительный шаг 
                            | и приобретите наше #[a.priceapp__descr-link(href="#") готовое приложение по продажам]
                            | любого продукта уже сегодня! Наши эксперты и инновационные инструменты ждут 
                            | вас, чтобы вместе добиться невероятных успехов. Не упустите возможность 
                            | стать неотразимым магнатом продаж!

            section.page__products.products
                .products__container.container
                    p.products__descr-top.products__descr.page__subdescr.products__text-anim
                        | Если Вы амбициозный предприниматель, торговый гений или продажный 
                        | магнат, наш тренинг создан специально для Вас! 
                    ul.products__list
                        li.products__item-left.products__item
                            p.products__item-nick @wellsofi
                            .products__item-image-wrapper
                                .products__item-image-border-wrapper
                                    .products__item-image-border
                                    .products__item-image-border-cliped
                                .products__item-image-background
                                    img.products__item-image(src="assets/img/icons/sticker-wooman.webp", alt="", width="184", height="192")
                        li.products__item-right.products__item
                            p.products__item-nick @maxwiwi
                            .products__item-image-wrapper
                                .products__item-image-border-wrapper
                                    .products__item-image-border
                                    .products__item-image-border-cliped
                                .products__item-image-background
                                    img.products__item-image(src="assets/img/icons/sticker-man.webp", alt="", width="184", height="192")
                    p.products__descr-bottom.products__descr.page__subdescr.products__text-anim
                        | Без разницы, какой продукт Вы продаете — от шоколадных конфет до роскошных 
                        | автомобилей и риелторских услуг — наше готовое предложение по продажам поможет 
                        | Вам увеличить доход и стать непобедимым в Вашей нише.

            section.page__program.program
                .program__container.container
                    h2.program__title.page__subtitle
                        | Что включает наша программа тренинга и приложение? 
                    .program__descr-wrapper
                        p.program__descr.page__subdescr.program__text-anim
                            | Мы сосредоточены на развитии высокоэффективных навыков продаж, умениях 
                            | управлять клиентскими отношениями, благодаря мощным функциям аналитики, 
                            | персонализации и автоматизации, вы сможете оптимизировать процесс 
                            | продаж и увеличить конверсию, максимально оптимизируя свои усилия.
                        p.program__subtitle
                            | Мы готовы открыть вам двери к безграничному успеху.

            section.page__bigtitle.bigtitle
                .bigtitle__container.container
                    h2.bigtitle__title.page__subtitle
                        | Вы станете 
                        img(src="assets/img/icons/bigtitle/span1.webp", alt="") 
                        | главным игроком 
                        | в своей отрасли, 
                        img(src="assets/img/icons/bigtitle/span2.webp", alt="") 
                        | преумножите прибыль и выведете свой бизнес 
                        img(src="assets/img/icons/bigtitle/span3.webp", alt="")
                        | на новый уровень.

            section.page__records.records
                .records__container.container
                    h2.records__title.page__subtitle
                        | Время для новых рекордов в продажах!
                    .records-descr-wrapper
                        .records__images
                            img(src="assets/img/records-elipse.webp", alt="", width="545", height="546")
                            img(src="assets/img/records-semielipse.svg", alt="", width="273", height="546")
                        .records__descrs
                            p.records__descr.page__subdescr.records__text-anim
                                | Не упустите возможность превратить свой бизнес в процветающую империю! 
                            p.records__descr.page__subdescr.records__text-anim
                                | Закажите наше готовое приложение по продажам уже сегодня и начните свой 
                                | путь к беспрецедентному успеху. Наши тренинги стоят 
                                | каждого вложенного в них доллара!

            section.page__trening.trening
                .trening__container.container
                    h2.trening__title.page__subtitle
                        | Кому подходит наш тренинг? #[br]
                        | Если вы...
                    .trening__images-wrapper
                        .trening__image-left.trening__image
                            img(src="assets/img/trening/phone-display1.webp", alt="")
                        .trening__image-right.trening__image
                            img(src="assets/img/trening/phone-display2.webp", alt="")

                        .trening__descr-wrapper.trening__text-anim
                            p.trening__descr.page__subdescr
                                span
                                    | Независимо от того, какой продукт или услугу вы предлагаете, наша программа 
                                    | тренинга и инновационное решение станут вашим секретным оружием в мире продаж.

        footer.footer
            .footer__container.container
                h2.footer__title.page__subtitle
                    | Оставляй заявку и приходи бесплатно
                .footer__main-wrapper
                    .footer__form-wrapper
                        p.footer__descr.page__subdescr.footer__text-anim
                            | Если что-то хотите уточнить, звоните прямо сейчас 
                            | и станьте королем продаж завтра! 

                        ul.footer__form-list
                            li.footer__form-item
                                p.footer__form-descr
                                    | Напиши нам 
                                    span.footer__form-descr-bold “Я в деле” И мы поможем стать номер 1  
                            li.footer__form-item
                                form.footer__form(action="#") 
                                    input.footer__forn-input(type="text", placeholder="Ваше имя")
                                    input.footer__forn-input(type="phone", placeholder="Телефон")
                    .footer__btn-ticket-wrapper
                        a.footer__btn-ticket.btn-ticket(href="#") 
                            +svgIcon('circled-text', 'btn-ticket__circled-text')
                            .btn-ticket__bg
                            span.btn-ticket__label Запуск 
                                span Бесплатно!
                        +svgIcon('arrow', 'footer__btn-ticket-arrow footer__arrow-anim')

        script(src="assets/js/main.min.js") 